.DS_Store
*.swp
*.pyc
*.csv
.envrc
logs
salesforce.sublime-project
salesforce.sublime-workspace
/requests/
/requests-2.10.0.dist-info/
/simple_salesforce/
/simple_salesforce-0.68.2.dist-info/
/boto3/
/boto3-1.3.1.dist-info/
/botocore/
/botocore-1.4.26.dist-info/
/concurrent/
/dateutil/
/docutils/
/docutils-0.12-py2.7.egg-info/
/futures-3.0.5.dist-info/
/jmespath/
/jmespath-0.9.0.dist-info/
/lambda/
/python_dateutil-2.5.3.dist-info/
/requests/
/requests-2.10.0.dist-info/
/six-1.10.0.dist-info/
six.py
*.zip
.api_test.py
/venv/
!sf_bulk_*_spec.csv
.python-version
.pylintrc

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
node_modules/
.coverage
htmlcov/
test/
